/* 
    Created on : 11/03/2016, 09:39:11 PM
    Author     : Eduardo Lemus Zavala
*/
.navBar{
    background-color: #761c19;
}

.resaltoDIV:hover{
    color: #761c19;
    font-size: 15px;
}

.colorTextoResaltoDiv{
    color: #761c19;
}

.expande:hover{
    width: 130px;
}

.resaltoDatosPerfil:hover{
    color: #761c19;
}

.imgBoton{
    width: 16px;
    height: 16px;
}

.encabezadoModal{
    background-color: #761c19;
    color: #fff;
    text-align: center;
}

.buttonModalEncabezado{
    color: #fff;
}